.logoSteam {
  width: 47px;
  height: 25px;
}
.buttonAuth {

}

.buttonAuth {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
  display: flex;
  text-align: center;
  padding: 5px;
}